## CAMPAIGN CROWDFUNDING ANALYSIS

### Importing Libraries

In [15]:
import pandas as pd
import numpy as np 
from datetime import datetime as dt

### Campaign analysis

In [16]:
crowdfunding_df = pd.read_excel('/Users/samibsata/Desktop/DATA_SCIENCE/campaign_crowdfunding/Resources/crowdfunding.xlsx')
crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [17]:
crowdfunding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [ ]:
crowdfunding_df.drop(columns=[
    'staff_pick',
    'spotlight'],
    inplace=True)

crowdfunding_df[['category', 'subcategory']] = crowdfunding_df['category & sub-category'].str.split('/', expand=True)

crowdfunding_df.rename(columns={
    'blurb': 'description',
    'launched_at': 'launch_date',
    'deadline': 'end_date'},inplace=True)

crowdfunding_df = crowdfunding_df.astype({
    'goal': float,
    'pledged': float
})

crowdfunding_df['launch_date'] = pd.to_datetime(crowdfunding_df['launch_date'], unit='s')
crowdfunding_df['end_date'] = pd.to_datetime(crowdfunding_df['end_date'], unit='s')

In [19]:
crowdfunding_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,theater/plays,theater,plays

In [20]:
category_df = pd.DataFrame(crowdfunding_df['category'].unique(), columns=['category'])
category_df['category_id'] = 'cat' + (category_df.index + 1).astype(str)
category_df = category_df[['category_id', 'category']]
category_df = category_df.set_index('category_id')
category_df

                 category
category_id
cat1                 food
cat2                music
cat3           technology
cat4              theater
cat5         film & video
cat6           publishing
cat7                games
cat8          photography
cat9           journalism

In [21]:
subcategory_df = pd.DataFrame(crowdfunding_df['subcategory'].unique(), columns=['subcategory'])
subcategory_df['subcategory_id'] = 'subcat' + (subcategory_df.index + 1).astype(str)
subcategory_df = subcategory_df[['subcategory_id', 'subcategory']]
subcategory_df = subcategory_df.set_index('subcategory_id')
subcategory_df

                      subcategory
subcategory_id
subcat1               food trucks
subcat2                      rock
subcat3                       web
subcat4                     plays
subcat5               documentary
subcat6            electric music
subcat7                     drama
subcat8                indie rock
subcat9                 wearables
subcat10               nonfiction
subcat11                animation
subcat12              video games
subcat13                   shorts
subcat14                  fiction
subcat15        photography books
subcat16         radio & podcasts
subcat17                    metal
subcat18                     jazz
subcat19             translations
subcat20               television
subcat21             mobile games
subcat22              world music
subcat23          science fiction
subcat24                    audio

In [22]:
category_df.to_csv('category.csv')
subcategory_df.to_csv('subcategory.csv')

In [23]:
category_df = category_df.reset_index()
subcategory_df = subcategory_df.reset_index()

crowdfunding_df = crowdfunding_df.merge(category_df, on = 'category', how='outer', suffixes=('_crowdfunding_df', '_category_df')) \
                                .merge(subcategory_df, on = 'subcategory', how='outer', suffixes=('_crowdfunding_df', '_subcategory_df'))

crowdfunding_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category,category,subcategory,category_id,subcategory_id
0,2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,2020-04-12 05:00:00,2021-03-24 05:00:00,film & video/animation,film & video,animation,cat5,subcat11
1,2303,4326,Clark-Cooke,Down-sized analyzing challenge,9000.0,14455.0,successful,129,US,USD,2020-10-28 05:00:00,2021-02-15 06:00:00,film & video/animation,film & video,animation,cat5,subcat11
2,2656,3254,"Hampton, Lewis and Ray",Seamless coherent parallelism,600.0,4022.0,successful,54,US,USD,2021-07-27 05:00:00,2021-11-30 06:00:00,film & video/animation,film & video,animation,cat5,subcat11
3,1903,4736,Acevedo-Huffman,Pre-emptive impactful model,9500.0,4460.0,failed,56,US,USD,2021-06-17 05:00:00,2021-08-27 05:00:00,film & video/animation,film & video,animation,cat5,subcat11
4,1400,1728,Huang-Henderson,Stand-alone mobile customer loyalty,41700.0,138497.0,successful,1539,US,USD,2020-08-30 05:00:00,2021-08-04 05:00:00,film & video/animation,film & video,animation,cat5,subcat11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1593,4519,"Sellers, Roach and Garrison",Multi-tiered systematic knowledge user,42700.0,97524.0,successful,1681,US,USD,2020-12-18 06:00:00,2021-03-15 05:00:00,technology/web,technology,web,cat3,subcat3
996,2028,5219,Diaz-Little,Grass-roots executive synergy,6700.0,11941.0,successful,323,US,USD,2021-06-26 05:00:00,2021-07-10 05:00:00,technology/web,technology,web,cat3,subcat3
997,2107,5445,Gates PLC,Secured content-based product,4500.0,13985.0,successful,159,US,USD,2020-07-09 05:00:00,2021-05-18 05:00:00,music/world music,music,world music,cat2,subcat22
998,1381,5921,Soto-Anthony,Ameliorated logistical capability,51400.0,90440.0,successful,2261,US,USD,2020-10-13 05:00:00,2021-02-22 06:00:00,music/world music,music,world music,cat2,subcat22
999,2040,4467,Howard-Douglas,Organized human-resource attitude,88400.0,121138.0,successful,1573,US,USD,2020-09-22 05:00:00,2021-04-06 05:00:00,music/world music,music,world music,cat2,subcat22

In [24]:
campaign_df = pd.DataFrame(crowdfunding_df.copy())

campaign_df.drop(columns=[
    'category & sub-category',
    'category',
    'subcategory'], inplace=True)

campaign_df = campaign_df.set_index('cf_id')

campaign_df

,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
cf_id,,,,,,,,,,,,,
2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,2020-04-12 05:00:00,2021-03-24 05:00:00,cat5,subcat11
2303,4326,Clark-Cooke,Down-sized analyzing challenge,9000.0,14455.0,successful,129,US,USD,2020-10-28 05:00:00,2021-02-15 06:00:00,cat5,subcat11
2656,3254,"Hampton, Lewis and Ray",Seamless coherent parallelism,600.0,4022.0,successful,54,US,USD,2021-07-27 05:00:00,2021-11-30 06:00:00,cat5,subcat11
1903,4736,Acevedo-Huffman,Pre-emptive impactful model,9500.0,4460.0,failed,56,US,USD,2021-06-17 05:00:00,2021-08-27 05:00:00,cat5,subcat11
1400,1728,Huang-Henderson,Stand-alone mobile customer loyalty,41700.0,138497.0,successful,1539,US,USD,2020-08-30 05:00:00,2021-08-04 05:00:00,cat5,subcat11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,4519,"Sellers, Roach and Garrison",Multi-tiered systematic knowledge user,42700.0,97524.0,successful,1681,US,USD,2020-12-18 06:00:00,2021-03-15 05:00:00,cat3,subcat3
2028,5219,Diaz-Little,Grass-roots executive synergy,6700.0,11941.0,successful,323,US,USD,2021-06-26 05:00:00,2021-07-10 05:00:00,cat3,subcat3
2107,5445,Gates PLC,Secured content-based product,4500.0,13985.0,successful,159,US,USD,2020-07-09 05:00:00,2021-05-18 05:00:00,cat2,subcat22
1381,5921,Soto-Anthony,Ameliorated logistical capability,51400.0,90440.0,successful,2261,US,USD,2020-10-13 05:00:00,2021-02-22 06:00:00,cat2,subcat22
2040,4467,Howard-Douglas,Organized human-resource attitude,88400.0,121138.0,successful,1573,US,USD,2020-09-22 05:00:00,2021-04-06 05:00:00,cat2,subcat22

In [25]:
campaign_df.to_csv('campagin.csv')

### Contacts Analysis

In [26]:
contacts_df = pd.read_excel('/Users/samibsata/Desktop/DATA_SCIENCE/campaign_crowdfunding/Resources/contacts.xlsx', header=3)
contacts_df.columns = ['contact_info']
contacts_df.head()

                                        contact_info
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...
2  {"contact_id": 4187, "name": "Sofie Woods", "e...
3  {"contact_id": 4941, "name": "Jeanette Iannott...
4  {"contact_id": 2199, "name": "Samuel Sorgatz",...

In [27]:
contacts_df[['contact_id', 'name', 'email']] = contacts_df['contact_info'].str.split(',', expand=True)
contacts_df[['id', 'contact_id']] = contacts_df['contact_id'].str.split(':', expand=True)
contacts_df[['name', 'full_name']] = contacts_df['name'].str.split(':', expand=True)
contacts_df[['email_address', 'email']] = contacts_df['email'].str.split(':', expand=True)
contacts_df[['first_name', 'last_name']] = contacts_df['full_name'].str.split(n=1, expand=True).fillna('')


contacts_df['email'] = contacts_df['email'].str.replace(r'["}]', '', regex=True)
contacts_df['first_name'] = contacts_df['first_name'].str.replace(r'["]', '', regex=True)
contacts_df['last_name'] = contacts_df['last_name'].str.replace(r'["]', '', regex=True)

contacts_df = contacts_df.astype({
    'contact_id': int
})

contacts_df.drop(columns=[
    'contact_info',
    'name',
    'id',
    'full_name',
    'email_address'], inplace=True)

contacts_df = contacts_df[['contact_id', 'first_name', 'last_name', 'email']]
contacts_df = contacts_df.set_index('contact_id')

contacts_df.head()

           first_name last_name                          email
contact_id
4661          Cecilia   Velasco   cecilia.velasco@rodrigues.fr
3765          Mariana     Ellis        mariana.ellis@rossi.org
4187            Sofie     Woods        sofie.woods@riviere.com
4941         Jeanette  Iannotti    jeanette.iannotti@yahoo.com
2199           Samuel   Sorgatz       samuel.sorgatz@gmail.com

In [28]:
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 4661 to 4939
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   email       1000 non-null   object
dtypes: object(3)
memory usage: 31.2+ KB

In [29]:
contacts_df.to_csv('contacts.csv')